* {
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 4px;
}

:root {
  --main-bgc: rgb(233, 226, 226);
  --main-col: rgb(66, 64, 64);
  --elem-bgc: rgb(148, 172, 214);
  --btn-bgc: rgb(114, 193, 235);
}

body {
  color: var(--main-col);
  background-color: var(--main-bgc);
}

.container {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.content {
  padding: 10px;
  width: 650px;
  user-select: none;

  border: solid 2px white;
}

header {
  background-color: var(--elem-bgc);
}

main {
  margin: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: var(--elem-bgc);
}

button {
  margin: 30px;
  width: 80px;
  height: 40px;
  font-size: 1.1em;
  border-radius: 20px;
  background-color: var(--btn-bgc);
}

button:hover {
  cursor: pointer;
}


